.Justificacion_container {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Justificacion_form {
  display: flex;
  flex-direction: column;
}

.Justificacion_field {
  margin-bottom: 15px;
}

.Justificacion_field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white; 
}

.Justificacion_field input,
.Justificacion_field textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: #333;
}

.Justificacion_field textarea {
  resize: vertical;
  height: 100px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
}


.dashboard-container {
  display: flex;
  margin-top: 20px; 
}

.sidebar {
  transition: width 0.3s;
  margin-top: 20px; 
  background-color: #d4d4d4; 
}

.sidebar.open {
  width: 250px; 
}

.sidebar.closed {
  width: 60px;
}

.user-info {
  cursor: pointer;
  background-color: #999999;
  border: none;
  padding: 15px;
  text-align: center;
  width: 60px;
  height: 60px; 
  border-radius: 50%; 
  margin: 10px auto; 
  font-size: 18px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  transition: background-color 0.3s;
}

.user-info:hover {
  background-color: #777777; 
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  padding: 10px; 
}

.menu-buttons .sidebar-button {
  display: block;
  padding: 10px;
  text-align: left;
  margin-bottom: 15px; 
  background-color: #7c7979; 
  border: none;
  border-radius: 8px; 
  transition: background-color 0.3s;
}

.menu-buttons .sidebar-button:hover {
  background-color: #d0d0d0; 
}

.menu-buttons .sedebar-button_cerrar{
  margin-top:100px;
}

.menu-buttons .sidebar-button:last-child {
  margin-bottom: 0;
}

.Asistencia_ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

.Asistencia_li {
  background-color: #333; 
  color: white; 
  padding: 10px;
  margin: 5px 0; 
  border-radius: 5px; 
  font-size: 16px; 
  text-align: right; 
}
.Pagos_ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}
 
.Pagos_li {
  background-color: #333; 
  color: white; 
  padding: 10px; 
  margin: 5px 0; 
  border-radius: 5px; 
  font-size: 16px; 
  text-align: right; 
}

.Justificacion_container {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Justificacion_form {
    display: flex;
    flex-direction: column;
}

.Justificacion_field {
    margin-bottom: 15px;
}

.Justificacion_field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.Justificacion_field input,
.Justificacion_field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: white !important; 
    background-color: #333 !important; 
}

.Justificacion_field textarea {
    resize: vertical;
    height: 100px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.error {
    color: red;
    margin-top: 10px;
}

.success {
    color: green;
    margin-top: 10px;
}
